td{
    text-align: left;
}

.panel{
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  
}
.ctrls{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
button{
    margin: 0px 10px 10px 10px;
}

.margin-all-20{
    margin: 20px 20px 20px 20px;
}
.padding-all-0{
    padding: 0px 0px 0px 0px;
}
.txt-bold{
    font-weight: bold;
}
.mat-form-btn{
    display: flex;
    flex-direction: row;
    justify-content:center
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flex-rowm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.shape{
    width: 120px;
    height: 150px;
    background-color: blue;
}
.label{
    width: 150px;
    font-size: smaller;
}
.input-width{
    width: 150px;
}
.width-160{
    width: 160px;
}
.width-80{
    width: 80px;
}
.width-100{
    width: 100px;
}
.justify-center{
    justify-content:center
}
.justify-start{
    justify-content: start;
    
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.margin-b-20{
    margin-bottom: 7px;
}
.align-start{
    align-items:flex-start;
}
.align-center{
    align-items: center;
}
.sec-small{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
}
.rect-small{
	background-image:url('../images/section-shapes/rect-small.png');   
}
.circ-small{
    background-image: url('../images/section-shapes/circle-small.png');
}
.i-small{
    background-image: url('../images/section-shapes/i-small.png');
}
.t-small{
    background-image: url('../images/section-shapes/t-small.png');
}
.sec-large{
    width: 120px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.rect-large{
	background-image:url('../images/section-shapes/rect-large.png');   
}
.circ-large{
    background-image: url('../images/section-shapes/circ-large.png');
}
.i-large{
    background-image: url('../images/section-shapes/i-large.png');
}
.t-large{
    background-image: url('../images/section-shapes/t-large.png');
}

/*#load-data .node-data{
    padding-right: 25px;
}*/